@include gatekeeper-common.cfg

# Match-----------------------------------------------------------------------------------

numGameThreads = 200

# Rules------------------------------------------------------------------------------------

bSizeRelProbs = 2,3,10,7,9,60, 2,4,6,8,10

# Search limits-----------------------------------------------------------------------------------
maxVisits = 400

# CUDA GPU settings--------------------------------------

cudaDeviceToUseModel0Thread0 = 0
cudaDeviceToUseModel0Thread1 = 1

# Internal params------------------------------------------------------------------------------

dynamicScoreUtilityFactor = 0.20
