@include gatekeeper-common.cfg

# Search limits-----------------------------------------------------------------------------------
maxVisits = 200

# CUDA GPU settings--------------------------------------

cudaDeviceToUseModel0Thread0 = 0
cudaDeviceToUseModel0Thread1 = 1

cudaUseFP16 = true
cudaUseNHWC = true

# Root move selection and biases------------------------------------------------------------------------------

chosenMoveTemperatureEarly = 0.5
chosenMoveTemperatureHalflife = 19
chosenMoveTemperature = 0.2
chosenMoveSubtract = 0
chosenMovePrune = 1

useLcbForSelection = true
lcbStdevs = 5.0
minVisitPropForLCB = 0.15

# Internal params------------------------------------------------------------------------------

winLossUtilityFactor = 1.0
staticScoreUtilityFactor = 0.00
dynamicScoreUtilityFactor = 0.25
dynamicScoreCenterZeroWeight = 0.25
dynamicScoreCenterScale = 0.50
noResultUtilityForWhite = 0.0
drawEquivalentWinsForWhite = 0.5

rootEndingBonusPoints = 0.5
rootPruneUselessMoves = true

cpuctExploration = 1.1
cpuctExplorationLog = 0.0
fpuReductionMax = 0.2
rootFpuReductionMax = 0.1

numVirtualLossesPerThread = 1
