@include selfplay-common.cfg

# Fancy game selfplay settings--------------------------------------------------------------------

cheapSearchVisits = 100
reducedVisitsMin = 100
estimateLeadProb = 0.05

# Match-----------------------------------------------------------------------------------

numGameThreads = 320

# Search limits-----------------------------------------------------------------------------------

maxVisits = 600

# GPU Settings-------------------------------------------------------------------------------

nnMaxBatchSize = 256
nnCacheSizePowerOfTwo = 22
nnMutexPoolSizePowerOfTwo = 16
numNNServerThreadsPerModel = 2

cudaDeviceToUseModel0Thread0 = 0
cudaDeviceToUseModel0Thread1 = 1

cudaUseFP16 = auto
cudaUseNHWC = auto

# Internal params------------------------------------------------------------------------------

dynamicScoreUtilityFactor = 0.40
dynamicScoreCenterZeroWeight = 0.25
dynamicScoreCenterScale = 0.50
noResultUtilityForWhite = 0.0
drawEquivalentWinsForWhite = 0.5

rootEndingBonusPoints = 0.5
rootPruneUselessMoves = true

rootPolicyTemperatureEarly = 1.25
rootPolicyTemperature = 1.1

cpuctExploration = 1.1
cpuctExplorationLog = 0.0
fpuReductionMax = 0.2
rootFpuReductionMax = 0.0

numVirtualLossesPerThread = 1
